<h2 class="mat-h2">ADD NEW BOOK</h2>

<p>By pressing <code>TAB</code> a draft will automatically be cached for you. :-)</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="isbn">
  <br>
  <span [hidden]="!form.get('isbn').hasError('required')">ISBN is required</span>
  <br>

  <input type="text" formControlName="title">
  <br>
  <span [hidden]="!form.get('title').hasError('required')">Title is required</span>
  <br>

  <input type="text" formControlName="author">
  <br>
  <span [hidden]="!form.get('author').hasError('required')">Author is required</span>
  <br>

  <mat-form-field>
    <textarea formControlName="abstract" matInput placeholder="Abstract...">
    </textarea>
  </mat-form-field>
  <br>

  <button mat-raised-button (click)="undo()" type="button">
    UNDO
  </button>

  <button mat-raised-button [disabled]="form.invalid">
    SAVE
  </button>
</form>
